## Stop and Search
### A120:   "Stop and Search is a power that allows the police to speak to someone if they think they have been involved in a crime, and to search them to see whether they are carrying anything that they should not be. To what extent do you agree that the Police should conduct Stop and Search?"

### A121: How confident are you that the Police in your area use their stop and search powers fairly? 
### ReXQ135: Gender Male/Female
### ReQ136: Age ranges/intervals
### ReNQ147: Ethnicity

In [1]:
import pandas as pd
import glob

In [2]:
_df_pas = pd.read_csv("/Temp/MOPAC/PAS_ward_level_FY_20_21.csv")

C:\Users\rhahi\AppData\Local\Temp\ipykernel_24268\2109352520.py:1: DtypeWarning: Columns (10,11,12,13,17,24,33,34,46,47,48,49,50,51,52,53,59,60,61,64,65,66,67,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,107,108,109,110,112,113,114,115,116,119,120) have mixed types. Specify dtype option on import or set low_memory=False.
  _df_pas = pd.read_csv("/Temp/MOPAC/PAS_ward_level_FY_20_21.csv")

In [17]:
_df_pas.head(3)

,Unnamed: 0,Week,interview_date,Quarter1.1,Quarter,MONTH,FinancialYear,BCU,Borough,Q1,...,WT_Q64,WT_Q64_B,WT_Q64_E,WT_Discrete,WT_Discrete_rebased,ReXQ135,ReQ136,ReNQ147,ReQ150,ReQ139
0,1,01/04/2020-05/04/2020,1.380534e+10,61,61 Quarter 1 2020/21,109 (Apr 2020),16,BCU11,Barking & Dagenham,3 years but less than 5 years,...,NaN,3.147059,3.147059,3.192990,3.143867,Male,25 to 34,White British,Heterosexual,Full time (31+ hours per week)
1,2,01/04/2020-05/04/2020,1.380516e+10,61,61 Quarter 1 2020/21,109 (Apr 2020),16,BCU10,Barnet,30 years or more,...,NaN,0.781933,0.781933,0.793345,0.781140,Female,55 to 64,Black,Heterosexual,Full time (31+ hours per week)
2,3,01/04/2020-05/04/2020,1.380508e+10,61,61 Quarter 1 2020/21,109 (Apr 2020),16,BCU10,Barnet,30 years or more,...,NaN,1.398138,1.398138,1.418544,1.396720,Male,65+,Other,"Non-Heterosexual (Gay, Lesbian, Bisexual, None...",Retired

In [3]:
list_pas =['Week','interview_date','MONTH', 'Borough', 'Q1', 'Q13', 'Q15', 'Q60', 'Q61', 'Q62A','Q62B', 'Q62C', 'Q62F', 'Q62TG', 'A120', 'A121' ,'NQ135BD', 'NQ135BDB', 'NQ135BDD', 'NQ62B', 'NQ62C', 
          'BQ90A', 'BQ90DA', 'BQ90F', 'Q131', 'Q133', 'RQ80E', 'NQ133A', 'NQCV26', 'ReQ136', 'ReNQ147','ReQ150','ReQ139']

# The following parameters are avaialbe in survey dataset; not sure how to use or what they actually mean
list_not_sure = ['NPQ135A','NPQ135B', 'NPQ135C','NNQ135A','NNQ135B', 'NNQ135C', ]


list_stop_search = ['A120','A121', 'ReXQ135', 'ReQ136', 'ReNQ147', 'Week','interview_date','MONTH', 'Borough']

In [4]:
#Creating dataframe using the columns that confain info about stop-and-search

df_pas_ss = _df_pas[ list_stop_search].copy()
#df_PAS_ss = _df_pas[ list_pas].copy()
df_pas_ss['MONTH'].head()

0    109 (Apr 2020)
1    109 (Apr 2020)
2    109 (Apr 2020)
3    109 (Apr 2020)
4    109 (Apr 2020)
Name: MONTH, dtype: object

In [5]:
#Convert month variable into yyyy-mm format

# Define a function to extract and format the year and month
def extract_year_month(date_str):
    # Split the string to get the part with the month and year
    _, month_year = date_str.split('(')
    month_year = month_year.strip(')')  # Remove the closing parenthesis
    month_name, year = month_year.split()  # Split into month name and year
    
    # Convert month name to month number
    month_num = pd.to_datetime(month_name, format='%b').month
    
    # Return the formatted string
    return f'{year}-{month_num:02d}'

# Apply the function to the 'MONTH' column to create the 'ym' column
df_pas_ss['ym'] = df_pas_ss['MONTH'].apply(extract_year_month)

# Display the DataFrame
df_pas_ss.head(2)

,A120,A121,ReXQ135,ReQ136,ReNQ147,Week,interview_date,MONTH,Borough,ym
0,Strongly agree,Fairly confident,Male,25 to 34,White British,01/04/2020-05/04/2020,1.380534e+10,109 (Apr 2020),Barking & Dagenham,2020-04
1,Neither agree nor disagree,Not at all confident,Female,55 to 64,Black,01/04/2020-05/04/2020,1.380516e+10,109 (Apr 2020),Barnet,2020-04

In [6]:
df_pas_ss.tail(2)

,A120,A121,ReXQ135,ReQ136,ReNQ147,Week,interview_date,MONTH,Borough,ym
12734,Tend to agree,Very confident,Female,45 to 54,Mixed,22/03/2021-28/03/2021,1.383610e+10,120 (Mar 2021),Kensington & Chelsea,2021-03
12735,Tend to agree,Fairly confident,Female,25 to 34,Asian,22/03/2021-28/03/2021,1.383618e+10,120 (Mar 2021),Havering,2021-03

In [ ]:
df_pas_ss['Borough'].unique()

In [ ]:
#df_pas_ss.to_csv('/temp/DC2/df_pas_ss.csv')

In [7]:
def process_stop_search_csv_file(file_path):
    # Read the CSV file
    df = pd.read_csv(file_path, index_col=False)
    return df


b=True
for file_path in glob.glob('/temp/MOPAC/stop_search/*-city-of-london-stop-and-search.csv' ): 
    #files_to_process = f"\\Users\\Casey\\Dash\\JupyNote\\data\\Stats19\\collision_{point_year}.csv" 
        _df_ss = process_stop_search_csv_file(file_path)
        if b == True:
            df_ss = _df_ss.copy()
            # follow by proc summary
            b = False
        else:
           df_ss = pd.concat([df_ss,_df_ss], ignore_index = True)
            # follow by proc summary
  
            
df_ss = df_ss.drop_duplicates()

df_ss['Date'] = pd.to_datetime(df_ss['Date'])

# Create a new column 'ym' with the format 'yyyy-mm'
df_ss['ym'] = df_ss['Date'].dt.strftime('%Y-%m')
df_ss.head(2)

,Type,Date,Part of a policing operation,Policing operation,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing,ym
0,Person search,2020-04-01 01:08:29+00:00,NaN,NaN,NaN,NaN,Female,over 34,White - English/Welsh/Scottish/Northern Irish/...,White,Police and Criminal Evidence Act 1984 (section 1),Stolen goods,Arrest,True,False,2020-04
1,Person search,2020-04-01 05:26:18+00:00,NaN,NaN,51.51283,-0.108175,Male,NaN,Other ethnic group - Any other ethnic group,Asian,Police and Criminal Evidence Act 1984 (section 1),Stolen goods,Arrest,True,False,2020-04

In [8]:
df_ss.tail(2)

,Type,Date,Part of a policing operation,Policing operation,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing,ym
2866,Person search,2021-03-31 11:42:28+00:00,NaN,NaN,51.510148,-0.077029,Male,25-34,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Penalty Notice for Disorder,True,False,2021-03
2867,Person search,2021-03-31 11:43:42+00:00,NaN,NaN,NaN,NaN,Male,25-34,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,False,False,2021-03

In [9]:
df_joined = pd.merge(df_ss, df_pas_ss, on='ym', how='inner')

In [15]:
df_joined.head(3)

,Type,Date,Part of a policing operation,Policing operation,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,...,ym,A120,A121,ReXQ135,ReQ136,ReNQ147,Week,interview_date,MONTH,Borough
0,Person search,2020-04-01 01:08:29+00:00,NaN,NaN,NaN,NaN,Female,over 34,White - English/Welsh/Scottish/Northern Irish/...,White,...,2020-04,Strongly agree,Fairly confident,Male,25 to 34,White British,01/04/2020-05/04/2020,1.380534e+10,109 (Apr 2020),Barking & Dagenham
1,Person search,2020-04-01 01:08:29+00:00,NaN,NaN,NaN,NaN,Female,over 34,White - English/Welsh/Scottish/Northern Irish/...,White,...,2020-04,Neither agree nor disagree,Not at all confident,Female,55 to 64,Black,01/04/2020-05/04/2020,1.380516e+10,109 (Apr 2020),Barnet
2,Person search,2020-04-01 01:08:29+00:00,NaN,NaN,NaN,NaN,Female,over 34,White - English/Welsh/Scottish/Northern Irish/...,White,...,2020-04,Tend to agree,Fairly confident,Male,65+,Other,01/04/2020-05/04/2020,1.380508e+10,109 (Apr 2020),Barnet

In [12]:
import pandas as pd

# Load the dataset


# Group by the specified columns and count occurrences
summary = df_joined.groupby(['ym', 'Gender', 'Age range', 'Officer-defined ethnicity',
                             'Object of search', 'Outcome', 
                             'Removal of more than just outer clothing', 'A120', 
                             'A121', 'ReXQ135', 'ReQ136', 'ReNQ147']).agg(
    count=('ym', 'size')
).reset_index()

# Rename the column for clarity
summary = summary.rename(columns={
    'Removal of more than just outer clothing': 'clothes_removal'
})


# Optional, save the summary to a new CSV file
summary.to_csv("/temp/MOPAC/summary.csv", index=False)
summary.head()

,ym,Gender,Age range,Officer-defined ethnicity,Object of search,Outcome,clothes_removal,A120,A121,ReXQ135,ReQ136,ReNQ147,count
0,2020-04,Female,18-24,Other,Controlled drugs,Arrest,False,Neither agree nor disagree,Fairly confident,Female,16 to 24,Black,3
1,2020-04,Female,18-24,Other,Controlled drugs,Arrest,False,Neither agree nor disagree,Fairly confident,Female,16 to 24,White British,2
2,2020-04,Female,18-24,Other,Controlled drugs,Arrest,False,Neither agree nor disagree,Fairly confident,Female,25 to 34,Black,1
3,2020-04,Female,18-24,Other,Controlled drugs,Arrest,False,Neither agree nor disagree,Fairly confident,Female,25 to 34,Other,1
4,2020-04,Female,18-24,Other,Controlled drugs,Arrest,False,Neither agree nor disagree,Fairly confident,Female,25 to 34,White British,2

In [13]:
summary.tail()

,ym,Gender,Age range,Officer-defined ethnicity,Object of search,Outcome,clothes_removal,A120,A121,ReXQ135,ReQ136,ReNQ147,count
291896,2021-03,Male,over 34,White,Stolen goods,Arrest,False,Tend to disagree,Not very confident,Male,35 to 44,Black,1
291897,2021-03,Male,over 34,White,Stolen goods,Arrest,False,Tend to disagree,Not very confident,Male,35 to 44,White Other,1
291898,2021-03,Male,over 34,White,Stolen goods,Arrest,False,Tend to disagree,Not very confident,Male,55 to 64,White British,1
291899,2021-03,Male,over 34,White,Stolen goods,Arrest,False,Tend to disagree,Not very confident,Male,55 to 64,White Other,1
291900,2021-03,Male,over 34,White,Stolen goods,Arrest,False,Tend to disagree,Very confident,Female,55 to 64,White British,1

### A121  How confident are you that the Police in your area use their stop and search powers fairly?
### A120  'Stop and Search' is a power that allows the police to speak to someone if they think they have been involved in a crime, and to search them to see whether they are carrying anything that they should not be.To what extent do you agree that the Police should use the power of Stop and Search

In [ ]:
# rename: ReNQ147--> ethnicity
#         ReQ136 ---> age     
#         ReXQ135 --> gender
#         A120 ----> should_use_ss
#         A121 ---> use_ss_power_fairly